body{
    background-color: black;
}
.head{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
}
h2{
    color: wheat;
}
.both{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
